$font-default: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

$color-black: #212529;
$color-white: #ffffff;
$color-gray: #6c757d;
$color-light-gray: lighten($color-gray, 15%);
$color-dark: #343a40;
$color-red: #dc3545;
$color-blue: #007bff;
$color-light-blue: #80bdff;

$transition-duration: 0.15s;
$transition-animation: ease-in-out;

$phone: 640px;
$tablet: 1008px;
$laptop: 1140px;

$phone-screen: '(min-width: ' + $phone + ')';
$tablet-screen: '(min-width: ' + $tablet + ')';
$laptop-screen: '(min-width: ' + $laptop + ')';